/* https://www.w3schools.com/csSref/tryit.asp?filename=trycss_animatable */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 90s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVBAR INICIO */

.navbarContainer {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.164);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}	


body {
  background-image: url(./components/img/imgFondo/imgFondoBody.png);
  /* background-color: #f3e6d256; */
  background-repeat:repeat;
  /* background-size: cover; */
}

.logueo {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 114px;
  margin-left: 120px;
}

.nochtitulo {
  display: flex;
  flex-wrap: wrap;
}

.noch {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  color: #a0773a;
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  margin-left: 30px;
  
}

.titulo2 {
  display: flex;
  color: #a0773a;
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
}

.encabezadoNoch {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.smile {
  margin: 2px;
  padding: 8px;
  height: 100px;
  width: 200px;
  border-bottom: 8px solid #a0773a;
  border-left: 1px solid #a0773a;
  border-right: 1px solid #a0773a;
  border-radius: 50% / 0 0 100% 100%;
}

.encabezadoImgLogo {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}


.encabezadoLinks {
  display: flex;
  margin: 10px;
}


.linkDeco {
  display: flex;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  color: #96733f;
  font-weight: bold;
  background-color: #ca9c56c0;
  border: 1px solid #ca9c56c0;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color .4s;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #a37e45c0;

}

.linkDeco:hover {
  background-color: #ca9c5633;
  text-decoration: none;
  border-radius: 8px;
}

a.linkDeco {
  color:#96733f !important;
}


.masterLogContainer {
  margin-top: 75px;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}



/* LOGIN */

.masterLogContainer {
  margin-top: 75px;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}


.dropdown-menu {
  border-radius: 5px;
  border-color: #ddba84;
  text-align: center;
  background: rgba(255, 255, 255, 0.178);
}

.dropdown-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  border: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  transition: background-color .4s;
}

.dropdown-item:hover {
  color: #ec920b !important;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

a.dropdown-item {
  color:#96733f !important;
  font-weight: bolder;
}

.cerrarCesion {
  color:#96733f !important;
  font-weight: bolder;
  pointer-events: auto !important;
}

.cerrarCesion:hover {
  color: #ec920b !important;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  pointer-events: auto !important;
}

.btn-primary {
  font-weight: bolder;
  border: 2px solid white;
  margin-top: 12px;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
} 

.btn-success {
  font-weight: bolder;
  border: 2px solid white;
  margin-top: 12px;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  }

.form-control {
  border: 1px solid white;
}

.form-check {
  color: rgb(56, 56, 56);
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 5px;
}


.texSign {
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  color: black;
  text-align: inherit;
  border: 0;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.signUpInContainer {
  justify-content: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}


.signUpIn {
  width: 500px;
  text-align: center;
  display: block;
}

.externalLogin {
  justify-content: center;
  margin-top: 12px;
}

.texSign {
  padding: 0.25rem 1.5rem;
  color: black;
  font-weight: bolder;
  text-align: inherit;
  border: 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.formSign {
  background: rgba(128, 128, 128, 0.219);
}


/* CARD CONTINENTS */


.decoContinents {
  display: flex;
  margin-right: 15%;
  justify-content: right;
  text-align: center;
}


.linkDeco2 {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #96733f;
  font-weight: bold;
  background-color: #f7c98441;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color .4s;
  border-radius: 5px;
  box-shadow: 1px 2px 2px black;
  margin-left: 800px;
}


.linkDeco2:hover {
  background-color: #ca9c5633;
  text-decoration: none;
  border-radius: 8px;
}

a.linkDeco2 {
  color:#96733f !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-color: none !important;
}

.accordion-item {
    background-color: transparent !important;
    border-color: none !important;
}


*, :after, :before {
  box-sizing: none !important;
  border-color: none !important;
}


.ContinentsContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cardContinentsContainer {
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 0;
  margin: 0;
}

.imgCardContinent {
  justify-content: center;
  display: flex;
  width: 210px;
  height: 142px;
  margin-bottom: 10px;
}

.accordion-button {
  background-color: transparent !important;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center !important;
  color: #4d3b20 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: none !important;
  border: red !important;
  overflow-anchor: none;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out,
  border-radius .15s ease;
}



.accordion-header {
  text-align: center !important;
  color: #4d3b20 !important;
  font-size: 20px !important;
  font-weight: bold !important;
 
}



.cardUlContinent {
  background: none;
  background-image: none;
  box-shadow: none;
  list-style: none;
  opacity: 0.90;
  filter: alpha(opacity=90);
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border: none;
 
}

.item-Continent {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  color: #4d3b20;
  border: 0;
  background-color: rgba(231, 188, 95, 0.233);
  
}

.accordion-body {
  padding: 0 !important;
  margin: 0 !important;
  
}

.item-Continent:hover {
  color: #4d3b20;
  background-color: white;
  text-decoration: none;
}


/* CARRUSEL */


.homesweethome {
  display: flex;
  justify-content: center;
}


.descriptionZero {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hola {
  display: flex;
  max-width: 900px;
  margin-right: 40px;
  margin-left: 40px;
}

.hola2 {
  display: flex;
}

.description {
  display: flex;
  text-align: justify;
}

.descrptionHome1 {
  display: flex;
  background-color: rgba(226, 214, 43, 0.103);
  padding: 20px;
  border-radius: 20px;
  font-size: 21px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.descrptionHome2 {
  display: flex;
  background-color: rgba(219, 111, 92, 0.205);
  padding: 20px;
  border-radius: 20px;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descrptionHome3 {
  display: flex;
  background-color: rgba(252, 227, 4, 0.274);
  padding: 20px;
  border-radius: 20px;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carruselImage {
  min-height: 200px;
  max-height: 400px;
  width: 100% !important;
  max-width:700px;

}

.carrusel {
  display: flex;
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  
}

.carousel-inner {
  border-radius: 10px;
  min-height: 200px;
  max-height: 400px;
  /* width: 100% !important; */
  max-width: 400px;
}

.carruselTexto {
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 20px;
  padding: 0;
}

/* CARD TINERARY */

.tinerary {
  justify-content: center;
  display: flex;
}

.cardTinerary {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 75px;
  width: 900px;
  flex-wrap: wrap;
}


.titulo3 {
  display: flex;
  justify-content: center;
  color: #a0773a;
  font-weight: 300;
  font-size: 100px;
}

.titulo4 {
  display: flex;
  justify-content: center;
  color: #a0773a;
font-weight: 300;
  font-size: 100px;
  margin-left: 30px;
}



.tineraryImgInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
 
}

.tineraryImg {
  width: 600px;
  height: 700px;
  padding: 0;
  margin: 0;
}

.tineraryInfo {
  width: 300px;
  height: auto;
}

.tineraryReadMore {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 99, 71, 0.219);
  border-radius: 5px;
  margin: 10px;
  box-shadow: #6d532c;
  box-shadow: 4px 4px 4px #88888863;
}

.tineraryP {
  padding: 5px;
  margin: 5px;
  text-align: left;
  color:#725832;
  background-color: rgba(255, 255, 255, 0.541);
  font-weight: bolder;
  border-radius: 5px;
}

.tineraryPLink {
  font-style: italic;
  padding: 5px;
  margin: 5px;
  text-align: left;
  border-radius: 5px;
}

.tineraryLink {
  text-decoration: none !important;
  color:#725832;
  font-weight: bolder;
}

.tineraryPLink:hover {
  background-color: #ca9c5633;
}

.tineraryLink:hover {
  color: #a0773a;
}




/* ACCESS */


.accessContainer1 {
  margin: 40px;
  /* display: flex; */
}


.accessGralInfoImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.753) ;
  padding: 30px;
  margin-bottom: 12px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 26px -10px #795b2d; 
  box-shadow: inset 0px 0px 26px -10px #795b2d;
}

.accessFondo {
  display: flex;
  font-size: x-large;
  color: #4d3b20;
}

.accName {
  font-weight: 700;
  font-size: xx-large;
}

.accCountry {
  font-weight: 700;
}

.accessHref {
  text-decoration: none !important;
  color: #4d3b20 !important;
  margin-bottom: 4px;
}

.accessHref:hover {
  background: rgba(248, 162, 3, 0.144);
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
}

.accessImage {
  display: flex;
  /* height: 100%; */
  min-height: 200px;
  max-height: 400px;
  width: 100% !important;
  max-width:700px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2); 
  box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2);
}

.accessGralDescription {
  text-align: justify;
  font-size: x-large;
  font-weight: 600;
  color: #4d3b20;
  padding: 30px;
  background: rgba(255, 255, 255, 0.753);
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 26px -10px #694F27; 
  box-shadow: inset 0px 0px 26px -10px #694F27;
}

.accessAcordion {
  background: rgba(255, 255, 255, 0.726);
  -webkit-box-shadow: inset 0px 0px 26px -10px #694F27; 
  box-shadow: inset 0px 0px 26px -10px #694F27;
}

.accessTitleItinerary {
  margin-top: 40px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: #795b2d;
}

.accessDetail {
  margin: 10px;
}

/* .accessdet {
  text-align: justify;
  padding: 20px;
  margin-top: 10px;
  width: 700px;
} */

.accessNameTour {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.589);
}


.paccessDetail {
  display: flex;
  font-size: x-large;
  color: #4d3b20;
  border-radius: 2px;
  text-align: justify;
  padding: 20px;
  margin: 12px;
  background: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2); 
  box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2);
}

.comentario {
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: x-large;
  color: #4d3b20;
  border-radius: 2px;
  text-align: justify;
  padding: 20px;
  background: #f7b95b0a;
  margin-bottom: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2); 
  box-shadow: 0px 0px 10px 2px rgba(105,79,39,0.2);
}

.fromComentario {
  margin-bottom: 4px;
}

.textComentario {
  display: flex;
  text-decoration: none;
  text-align: justify;
  background: transparent;
  border: 1px solid rgb(230, 228, 228);
  border-radius: 4px;
  width: 100% !important;
  height: 100px;
  font-size: large;
  padding: 10px;
}

.botonesComentario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.botonComentario {
  margin-top: 12px;
}

.botonComentario:hover {
  opacity: .7;
  border-radius: 100%;
}

.accessCommLik {
  display: flex;
  justify-content: space-around;
}




/* CARD CITIES*/

.search {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.formSearch {
  /* display: flex; */
  text-align: center;
  width: 500px;
  height: 40px;
  font-weight: bolder;
  background: rgba(128, 128, 128, 0.219);
  border: 2px solid #ca9b55;
  border-radius: 10px;
}

 input::placeholder {
  color: #ca9b55 !important;
  font-weight:normal !important;
  font-style: normal !important;
  font-style: italic;
}

.cardMasterTitulo {
  justify-content: space-evenly;
  display: flex;
  color: #795b2d;
  font-weight:400;
  font-size: 45px;
  padding: 0;
  margin-bottom: 45px;
}

.master {
  display: flex;
  justify-content: center;
  margin-top: 79px;
  flex-wrap: wrap;
}

.cardMaster {
  display:flex;
  justify-content: space-between;
  /* width: 900px;  */
}


.filter {
  display: none;
}

.card {
  transform: translate(-1%,-1%);
  width: 400px;
  height: 350px;
  box-shadow: 0 20px 40px -14px #ca9c56;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 36px;

}

.image {
  position: relative;
  display: inline-block;
  text-align: center;
}

.imageTexto {
  position: absolute;
  top: 90%;
  right: 5px;
  color: white;
  font-weight: bolder;
  font-size: large;
  background: #262626;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2%;
  
}

.card .image img {
  height: 100%;
  transition: .5s;
  background-size: cover;
}

.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/

}

.card .details {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  border-radius: 2%;
}


.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
  padding: 20px;
  text-align: center;
  background: #f7d5a3;
  position: absolute;
  top: 170px;
  transform: translateY(-50%);
  width: 300px;
  height: 200px;
  /* MANEJA EL TAMAÑO DEL DETALLE DE LAS CARD */
}

.card .details .center h1 {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #6d532c;
}

.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}

.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;

}

.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}



.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transform: .5s;
  text-decoration: none;
  border-radius: 2px;
}

.ulCenter {
  display: flex;
  /* margin-top: 45px; */
  position: absolute;
  top: 70%;
  right: 115px;

}

.card .details .center ul li a:hover {
  /* background: rgb(248, 162, 3); */
  background: #6d532c;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
  flex-wrap: wrap;
}

.footerText {
  color: black;
  font-size: smaller;
}

.redSocialIcon {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.redSocialIconLi {
  display: flex;
  margin: 4px;
  text-decoration: none;
}
